.intro-message {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
}
.intro-message h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 36pt;
}
body {
	background: url(painting.jpg) no-repeat center center;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: black 1px 1px 3px;
}
.signup-form {
	color: #fff;
	text-align: center;
	padding:20px;
}

.nav {
	background:rgba(255,255,255,0.4);
}

.email {color:black;}

.nav a{color:white;}

#mc_embed_signup{background:rgba(0,0,0,0.4); clear:left; 
		padding:20px
}

.list-group-item { background: none; background:rgba(0,0,0,0.4); }